# Outputs
*.csv
*.xlsx

# Environments
.env
.venv
env/

# Byte-compiled / optimized / DLL files
__pycache__/

# Spyder
.spyproject/

# Distribution / packaging
.idea
# pixi environments
.pixi/*
!.pixi/config.toml
pixi*

# Plots
plots/
